<h2>Add New Listing</h2>
<form (ngSubmit)="createListing()">
  <label>Title:</label>
  <input type="text" [(ngModel)]="listing.title" name="title" required>

  <label>Description:</label>
  <textarea [(ngModel)]="listing.description" name="description" required></textarea>

  <label>Price:</label>
  <input type="number" [(ngModel)]="listing.price" name="price" required>

  <label>Main Category:</label>
<select [(ngModel)]="selectedMainCategory" name="mainCategory" (change)="updateSubcategories()" required>
  <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
</select>

<label>Subcategory:</label>
<select [(ngModel)]="listing.category" name="subcategory" required>
  <option *ngFor="let sub of subcategories" [value]="sub.id">{{ sub.name }}</option>
</select>

  <label>Upload Image:</label>
  <input type="file" (change)="onFileSelected($event)" required>

  <button type="submit">Create Listing</button>
</form>